embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.COLS_IN_ROW_WITHOUT_GAP {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-nav > li > a {
  padding: unset;
}
.navbar-nav > li > a:hover {
  background: unset;
}
a {
  color: inherit;
}
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
html {
  font-size: 10px;
}
body {
  color: #062033;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem; /* 13px / 10px = 1.3rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
@media (max-width: 768px) {
html {
  font-size: 8px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1200px;
}
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  background: #ffffff center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header-img {
  min-height: 800px;
  position: relative;
  background: url(images/rectangle_1_copy.jpg) no-repeat center 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col {
  padding: 0 0 5rem;
  position: relative;
  background: url(images/rectangle_1_copy_2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.top-header {
  padding: 0 0 19px;
  position: relative;
  background: rgba(16, 22, 54, 0.2);
  background-position: center center;
}
.col-data-wrapper {
  margin: 24px auto 0;
  position: relative;
}
.brandi {
  float: left;
  margin: 0 7.335907% 0 0; /* 19px / 259px = 7.335907% */
  width: 38.223938%; /* 99px / 259px = 38.223938% */
  color: #ffffff;
  font-family: Pacifico, handwriting;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  letter-spacing: 0.05em;
}
.text {
  float: left;
  margin: 8px 0 0;
  width: 54.440155%; /* 141px / 259px = 54.440155% */
  opacity: 0.3;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.col-4 {
  margin: 0 auto;
  position: relative;
}
.shape-1 {
  height: 1px;
  max-width: 43px;
  position: relative;
  width: 12.011173%; /* 43px / 358px = 12.011173% */
  background: #32b0ee;
}
.nav-2 {
  margin: 3.4rem 0 0 1.117318%; /* 4px / 358px = 1.117318% */
  position: relative;
}
.navbar-default {
  background-color: transparent;
}
@media (max-width: 768px) {
.navbar-collapse {
  background-color: rgba(255, 255, 255, 0.8);
}
.navbar-collapse > ul {
  padding: 5px;
}
.nav-2 {
  margin: 0 0 0 auto;
}
}
.nav-list {
  position: relative;
  width: 100%;
  list-style: none;
}
.nav-list li {
  margin: 0 8.262712% 0 0; /* 29.25px / 354px = 8.262712% */
}
@media (max-width: 768px) {
.nav-list li {
  margin: 0 auto;
  text-align: center;
}
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-item-1 {
  color: #ffffff;
  letter-spacing: 0.05em;
}
.nav-item-1-2 {
  color: #ffffff;
  letter-spacing: 0.05em;
}
.nav-item-1-3 {
  color: #ffffff;
  letter-spacing: 0.05em;
}
.nav-item-1-4 {
  color: #ffffff;
  letter-spacing: 0.05em;
}
.nav-item-1-5 {
  color: #ffffff;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
.col-4 {
  margin-bottom: 20px;
}
}
.container-2 {
  position: relative;
}
.col-data-wrapper-2 {
  margin: 38.8rem auto 0;
  position: relative;
}
.header-content {
  margin: 0 auto;
  position: relative;
}
.text-2 {
  color: #ffffff;
  font-size: 6.2rem; /* 62px / 10px = 6.2rem */
  font-weight: 300;
  text-align: center;
}
.text-3 {
  margin: 6px 0 0;
  opacity: 0.9;
  color: #ffffff;
  font-size: 4.8rem; /* 48px / 10px = 4.8rem */
  font-weight: 300;
  text-align: center;
}
.row-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 20px auto 0;
  position: relative;
}
.row-15 > * {
  float: left;
  margin: 0 7.526882% 0 0; /* 28px / 372px = 7.526882% */
}
.row-15 > *:last-child {
  margin-right: 0 !important;
}
@media (max-width: 372px) {
.row-15 > * {
  display: inline-block;
  float: none;
  max-width: 100%;
}
}
.shape-2 {
  height: 1px;
  max-width: 28px;
  width: 7.526882%; /* 28px / 372px = 7.526882% */
  background: #0feb9e;
  margin-top: 10px !important;
}
.text-4 {
  max-width: 260px;
  opacity: 0.9;
  color: #ffffff;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: 300;
  text-align: center;
}
.shape-2-copy {
  height: 1px;
  max-width: 28px;
  width: 7.526882%; /* 28px / 372px = 7.526882% */
  background: #0feb9e;
  margin-top: 10px !important;
}
.social {
  margin: 10.8rem auto 0;
  position: relative;
  width: 14.675324%; /* 113px / 770px = 14.675324% */
}
.twitter {
  float: left;
  margin: 2px 0 0;
  width: 18px;
}
.facebook {
  float: left;
  margin: 1px 0 0 15.044248%; /* 17px / 113px = 15.044248% */
  width: 10px;
}
.google {
  float: left;
  margin: 1px 0 0 15.929204%; /* 18px / 113px = 15.929204% */
  width: 18px;
}
.dribbble {
  float: left;
  margin: 0 0 0 10.619469%; /* 12px / 113px = 10.619469% */
  width: 20px;
}
@media (max-width: 113px) {
.social {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.container-3 {
  position: relative;
}
.features {
  padding: 6.2rem 0 5.4rem;
  position: relative;
  background: #f4f7f9;
  background-position: center center;
}
.col-data-wrapper-3 {
  margin: 12px auto 0;
  position: relative;
}
.section-header {
  margin: 0 auto;
  position: relative;
}
.features-2 {
  color: #0eb493;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}
.row-6 {
  margin: 21px auto 0;
  position: relative;
  width: 19.572649%; /* 229px / 1170px = 19.572649% */
}
.shape-3 {
  float: left;
  height: 1px;
  margin: 7px 0 0;
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(6, 32, 51, 0.1);
}
.heart-empty-copy {
  float: left;
  margin: 0 0 0 6.113537%; /* 14px / 229px = 6.113537% */
  width: 18px;
}
.shape-3-copy {
  float: left;
  height: 1px;
  margin: 7px 0 0 7.423581%; /* 17px / 229px = 7.423581% */
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(6, 32, 51, 0.1);
}
@media (max-width: 229px) {
.row-6 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.group-2 {
  margin: 6.4rem auto 0;
  position: relative;
}
.row-3-2 {
  position: relative;
  width: 100%; /* 370px / 370px = 100% */
}
.ellipse-2-holder {
  float: left;
  margin: 0 16px 0 0;
  min-height: 40px;
  padding: 9px 11px;
  position: relative;
  width: 40px;
  border: 1px solid #0eb493; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.feather {
  display: block;
  margin: 0 auto;
  width: 14px;
}
.branding {
  float: left;
  margin: 1px 0 0;
  width: 24.324324%; /* 90px / 370px = 24.324324% */
  font-size: 2rem; /* 20px / 10px = 2rem */
  font-weight: 600;
}
@media (max-width: 370px) {
.row-3-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-5 {
  margin: 0 0 0 auto;
  opacity: 0.7;
  line-height: 21px;
}
.group-3 {
  margin: 6.4rem auto 0;
  position: relative;
}
.row-4-2 {
  position: relative;
  width: 100%; /* 370px / 370px = 100% */
}
.ellipse-2-holder-2 {
  float: left;
  margin: 0 16px 0 0;
  min-height: 40px;
  padding: 11px;
  position: relative;
  width: 40px;
  border: 1px solid #0eb493; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.pencil {
  display: block;
  width: 16px;
}
.development {
  float: left;
  margin: 1px 0 0;
  width: 34.594593%; /* 128px / 370px = 34.594593% */
  font-size: 2rem; /* 20px / 10px = 2rem */
  font-weight: 600;
  letter-spacing: -0.02em;
}
@media (max-width: 370px) {
.row-4-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-6 {
  margin: 0 0 0 auto;
  opacity: 0.7;
  line-height: 21px;
}
.group-4 {
  margin: 6.4rem auto 0;
  position: relative;
}
.row-5-2 {
  position: relative;
  width: 100%; /* 370px / 370px = 100% */
}
.ellipse-2-holder-3 {
  float: left;
  margin: 0 16px 0 0;
  min-height: 40px;
  padding: 9px 9px 10px;
  position: relative;
  width: 40px;
  border: 1px solid #0eb493; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.megaphone {
  display: block;
  margin: 0 auto;
  width: 18px;
}
.consulting {
  float: left;
  margin: 1px 0 0;
  width: 27.297297%; /* 101px / 370px = 27.297297% */
  font-size: 2rem; /* 20px / 10px = 2rem */
  font-weight: 600;
  letter-spacing: -0.02em;
}
@media (max-width: 370px) {
.row-5-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-7 {
  margin: 0 0 0 auto;
  opacity: 0.7;
  line-height: 21px;
}
.features-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 8rem auto 0;
  position: relative;
}
.features-dots > * {
  float: left;
  margin: 0 26.981133% 0 0; /* 14.3px / 53px = 26.981133% */
}
.features-dots > *:last-child {
  margin-right: 0 !important;
}
.ellipse-1 {
  height: 8px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #062033;
}
.ellipse-1-copy {
  height: 8px;
  width: 8px;
  border: 1px solid rgba(6, 32, 51, 0.2); /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ellipse-1-copy-2 {
  height: 8px;
  width: 8px;
  border: 1px solid rgba(6, 32, 51, 0.2); /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.container-4 {
  position: relative;
}
.works {
  position: relative;
}
.col-data-wrapper-4 {
  margin: 9.6rem auto 0;
  position: relative;
}
.section-header-2 {
  margin: 0 auto;
  position: relative;
}
.wrapper {
  margin: 0 auto;
  min-height: 27px;
  position: relative;
  width: 10.373832%; /* 111px / 1070px = 10.373832% */
}
.works-2 {
  left: 50%;
  max-width: 111px;
  position: absolute;
  top: 0;
  color: #0eb493;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  margin-left: -55.5px;
}
.text-8 {
  left: 50%;
  max-width: 111px;
  position: absolute;
  top: 0;
  color: #0eb493;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-weight: 800;
  letter-spacing: -0.02em;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  margin-left: -55.5px;
}
@media (max-width: 768px) {
.wrapper {
  min-height: unset;
}
.wrapper > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
@media (max-width: 111px) {
.wrapper {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.row-9 {
  margin: 21px auto 0;
  position: relative;
  width: 21.401869%; /* 229px / 1070px = 21.401869% */
}
.shape-3-2 {
  float: left;
  height: 1px;
  margin: 7px 0 0;
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(6, 32, 51, 0.1);
}
.heart-empty-copy-2 {
  float: left;
  margin: 0 0 0 6.113537%; /* 14px / 229px = 6.113537% */
  width: 18px;
}
.shape-3-copy-2 {
  float: left;
  height: 1px;
  margin: 7px 0 0 7.423581%; /* 17px / 229px = 7.423581% */
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(6, 32, 51, 0.1);
}
@media (max-width: 229px) {
.row-9 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-9 {
  margin: 3.1rem auto 0;
  position: relative;
  width: 90.560745%; /* 969px / 1070px = 90.560745% */
  opacity: 0.8;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 969px) {
.text-9 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.row-8 {
  margin-top: -3px;
}
.col-data-wrapper-8 {
  margin: 4.8rem auto 0;
  position: relative;
}
.rounded-rectangle-1-holder {
  float: left;
  margin: 0 19.333334% 0 0; /* 29px / 150px = 19.333334% */
  max-width: 57px;
  min-height: 30px;
  width: 38%; /* 57px / 150px = 38% */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: #0eb493;
  background-position: center center;
  color: #ffffff;
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
.branding-2 {
  float: left;
  margin: 9px 0 0;
  width: 42.666668%; /* 64px / 150px = 42.666668% */
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: bold;
  text-align: center;
}
.web {
  margin: 5.7rem auto 0;
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: bold;
  text-align: center;
}
.col-data-wrapper-9 {
  margin: 5.7rem auto 0;
  position: relative;
}
.text-10 {
  float: left;
  margin: 0 19.911505% 0 0; /* 45px / 226px = 19.911505% */
  width: 36.725662%; /* 83px / 226px = 36.725662% */
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: bold;
  text-align: center;
}
.photography {
  float: left;
  width: 43.36283%; /* 98px / 226px = 43.36283% */
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: bold;
  text-align: center;
}
.container-5 {
  position: relative;
}
.row-7-2 {
  position: relative;
}
.rectangle-5 {
  display: block;
  margin: 3.7rem auto 0;
  width: 100%;
}
.rectangle-5-copy {
  display: block;
  margin: 3.7rem auto 0;
  width: 100%;
}
.rectangle-5-copy-2-holder {
  margin: 3.7rem auto 0;
  max-width: 400px;
  min-height: 300px;
  position: relative;
  background: url(images/rectangle_5_copy_2.jpg) no-repeat center 0;
  background-position: center center;
}
.work_hover {
  margin: 0 auto;
  max-width: 400px;
  min-height: 300px;
  padding: 9.4rem 7.5% 9.3rem; /* 30px / 400px = 7.5% */
  position: relative;
  background: rgba(14, 180, 147, 0.9);
  background-position: center center;
}
.icon-eye {
  margin: 0 auto;
  min-height: 40px;
  position: relative;
  width: 11.764706%; /* 40px / 340px = 11.764706% */
}
.vector-smart-object {
  left: 50%;
  max-width: 20px;
  position: absolute;
  top: 14px;
  width: 20px;
  margin-left: -10px;
}
.ellipse-3 {
  height: 40px;
  left: 50%;
  max-width: 40px;
  position: absolute;
  top: 0;
  width: 40px;
  border: 1px solid #ffffff; /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: -20px;
}
@media (max-width: 768px) {
.icon-eye {
  min-height: unset;
}
.icon-eye > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
@media (max-width: 40px) {
.icon-eye {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-11 {
  margin: 24px auto 0;
  width: 100%; /* 340px / 340px = 100% */
  color: #ffffff;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 340px) {
.text-11 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.rectangle-5-copy-2 {
  display: block;
  margin: 3.7rem auto 0;
  width: 100%;
}
.container-fluid-2 {
  position: relative;
}
.row-8-2 {
  position: relative;
}
.rectangle-5-copy-3 {
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 992px) {
.rectangle-5-copy-3 {
  margin-bottom: 20px;
}
}
.rectangle-5-copy-3-2 {
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 992px) {
.rectangle-5-copy-3-2 {
  margin-bottom: 20px;
}
}
.rectangle-5-copy-3-3 {
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 992px) {
.rectangle-5-copy-3-3 {
  margin-bottom: 20px;
}
}
.rectangle-5-copy-4 {
  display: block;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 992px) {
.rectangle-5-copy-4 {
  margin-bottom: 20px;
}
}
.container-fluid-3 {
  position: relative;
}
.team-wrapper {
  position: relative;
}
.team {
  margin: 9.8rem auto 0;
  position: relative;
}
.section-team-header {
  margin: 0 auto;
  position: relative;
}
.text-12 {
  color: #0eb493;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}
.row-10-2 {
  margin: 21px auto 0;
  position: relative;
  width: 19.572649%; /* 229px / 1170px = 19.572649% */
}
.shape-3-3 {
  float: left;
  height: 1px;
  margin: 7px 0 0;
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(6, 32, 51, 0.1);
}
.heart-empty-copy-3 {
  float: left;
  margin: 0 0 0 6.113537%; /* 14px / 229px = 6.113537% */
  width: 18px;
}
.shape-3-copy-3 {
  float: left;
  height: 1px;
  margin: 7px 0 0 7.423581%; /* 17px / 229px = 7.423581% */
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(6, 32, 51, 0.1);
}
@media (max-width: 229px) {
.row-10-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-13 {
  margin: 3.1rem auto 0;
  position: relative;
  width: 82.991455%; /* 971px / 1170px = 82.991455% */
  opacity: 0.8;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 971px) {
.text-13 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.row-13 {
  margin-top: -3px;
}
.group-5 {
  margin: 10.8rem auto 0;
  position: relative;
}
.rectangle-7-holder {
  margin: 0 auto;
  max-width: 270px;
  min-height: 300px;
  position: relative;
  background: url(images/rectangle_7.jpg) no-repeat center 0;
  background-position: center center;
}
.hover {
  max-width: 270px;
  min-height: 300px;
  padding: 16px 7.407407% 23px; /* 20px / 270px = 7.407407% */
  position: relative;
  background: rgba(14, 180, 147, 0.95);
  background-position: center center;
}
.text-14 {
  margin: 0 auto;
  width: 98.695656%; /* 227px / 230px = 98.695656% */
  color: #ffffff;
  font-size: 1.6rem; /* 16px / 10px = 1.6rem */
  text-align: center;
}
@media (max-width: 227px) {
.text-14 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.social-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 6.3rem auto 0;
  position: relative;
}
.social-2 > * {
  float: left;
  margin: 0 2.985075% 0 0; /* 4px / 134px = 2.985075% */
}
.social-2 > *:last-child {
  margin-right: 0 !important;
}
.rectangle-4-holder {
  max-width: 42px;
  min-height: 42px;
  padding: 12px 7.462687% 11px; /* 10px / 134px = 7.462687% */
  position: relative;
  width: 31.343283%; /* 42px / 134px = 31.343283% */
  background: rgba(0, 0, 0, 0.3);
}
.twitter-2 {
  display: block;
  margin: 0 auto;
  width: 21px;
}
.rectangle-4-copy-holder {
  max-width: 42px;
  min-height: 42px;
  padding: 10px 11.19403% 9px; /* 15px / 134px = 11.19403% */
  position: relative;
  width: 31.343283%; /* 42px / 134px = 31.343283% */
  background: rgba(0, 0, 0, 0.3);
}
.fb {
  display: block;
  margin: 0 auto;
  width: 11px;
}
.rectangle-4-copy-2-holder {
  max-width: 42px;
  min-height: 42px;
  padding: 10px 6.716418% 9px; /* 9px / 134px = 6.716418% */
  position: relative;
  width: 31.343283%; /* 42px / 134px = 31.343283% */
  background: rgba(0, 0, 0, 0.3);
}
.g {
  display: block;
  margin: 0 auto;
  width: 23px;
}
.text-15 {
  margin: 20px 0 0;
  color: #0eb493;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: 600;
  text-align: center;
}
.text-16 {
  margin: 13px 0 0;
  opacity: 0.56;
  text-align: center;
}
.group-6 {
  margin: 10.8rem auto 0;
  position: relative;
}
.rectangle-7 {
  display: block;
  margin: 0 auto;
  max-width: 270px;
  width: 100%; /* 270px / 270px = 100% */
}
.text-17 {
  margin: 19px 0 0;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: 600;
  text-align: center;
}
.text-18 {
  margin: 11px 0 0;
  opacity: 0.56;
  text-align: center;
}
.group-7 {
  margin: 10.8rem auto 0;
  position: relative;
}
.rectangle-7-2 {
  display: block;
  margin: 0 auto;
  max-width: 270px;
  width: 100%; /* 270px / 270px = 100% */
}
.text-19 {
  margin: 19px 0 0;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: 600;
  text-align: center;
}
.text-20 {
  margin: 12px 0 0;
  opacity: 0.56;
  text-align: center;
}
.group-8 {
  margin: 10.8rem auto 0;
  position: relative;
}
.rectangle-7-3 {
  display: block;
  margin: 0 auto;
  max-width: 270px;
  width: 100%; /* 270px / 270px = 100% */
}
.text-21 {
  margin: 20px 0 0;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: 600;
  text-align: center;
}
.text-22 {
  margin: 13px 0 0;
  opacity: 0.56;
  text-align: center;
}
.team-slider-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 8.7rem auto 0;
  position: relative;
}
.team-slider-dots > * {
  float: left;
  margin: 0 26.981133% 0 0; /* 14.3px / 53px = 26.981133% */
}
.team-slider-dots > *:last-child {
  margin-right: 0 !important;
}
.ellipse-1-2 {
  height: 8px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #062033;
}
.ellipse-1-copy-3 {
  height: 8px;
  width: 8px;
  border: 1px solid rgba(6, 32, 51, 0.2); /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.ellipse-1-copy-2-2 {
  height: 8px;
  width: 8px;
  border: 1px solid rgba(6, 32, 51, 0.2); /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.container-6 {
  position: relative;
}
.funfacts {
  margin: 12rem 0 0;
  min-height: 600px;
  position: relative;
  background: url(images/rectangle_8.jpg) no-repeat center 0;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-3 {
  padding: 8.5rem 0 15.5rem;
  position: relative;
  background: rgba(6, 32, 51, 0.8);
  background-position: center center;
}
.col-data-wrapper-5 {
  margin: 12px auto 0;
  position: relative;
}
.section-fun-header {
  margin: 0 auto;
  position: relative;
}
.text-23 {
  color: #0eb493;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}
.row-13-2 {
  margin: 21px auto 0;
  position: relative;
  width: 19.572649%; /* 229px / 1170px = 19.572649% */
}
.shape-3-4 {
  float: left;
  height: 1px;
  margin: 7px 0 0;
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(255, 255, 255, 0.5);
}
.heart-empty-copy-4 {
  float: left;
  margin: 0 0 0 6.113537%; /* 14px / 229px = 6.113537% */
  width: 18px;
}
.shape-3-copy-4 {
  float: left;
  height: 1px;
  margin: 7px 0 0 7.423581%; /* 17px / 229px = 7.423581% */
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 229px) {
.row-13-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.hours {
  margin: 25px auto 0;
  position: relative;
  width: 100%; /* 270px / 270px = 100% */
}
.circle-holder {
  margin: 0 auto;
  min-height: 130px;
  padding: 4.3rem 0;
  position: relative;
  width: 130px;
  border: 2px solid rgba(255, 255, 255, 0.4); /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.clock {
  display: block;
  margin: 0 auto;
  width: 40px;
}
@media (max-width: 130px) {
.circle-holder {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-24 {
  margin: 4.4rem 0 0;
  color: #ffffff;
  font-size: 6rem; /* 60px / 10px = 6rem */
  font-weight: 600;
  text-align: center;
}
.text-25 {
  margin: 7px 0 0;
  color: #ffffff;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 270px) {
.hours {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.clients {
  margin: 25px auto 0;
  position: relative;
  width: 100%; /* 270px / 270px = 100% */
}
.circle-holder-2 {
  margin: 0 auto;
  min-height: 130px;
  padding: 4.4rem 0;
  position: relative;
  width: 130px;
  border: 2px solid rgba(255, 255, 255, 0.4); /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.friends {
  display: block;
  margin: 0 auto;
  width: 38px;
}
@media (max-width: 130px) {
.circle-holder-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-26 {
  margin: 4.4rem 0 0;
  color: #ffffff;
  font-size: 6rem; /* 60px / 10px = 6rem */
  font-weight: 600;
  text-align: center;
}
.text-27 {
  margin: 7px 0 0;
  color: #ffffff;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 270px) {
.clients {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.projects {
  margin: 25px auto 0;
  position: relative;
  width: 100%; /* 270px / 270px = 100% */
}
.circle-holder-3 {
  margin: 0 auto;
  min-height: 130px;
  padding: 4.7rem 0 4.6rem;
  position: relative;
  width: 130px;
  border: 2px solid rgba(255, 255, 255, 0.4); /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.rocket {
  display: block;
  margin: 0 auto;
  width: 33px;
}
@media (max-width: 130px) {
.circle-holder-3 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-28 {
  margin: 4.4rem 0 0;
  color: #ffffff;
  font-size: 6rem; /* 60px / 10px = 6rem */
  font-weight: 600;
  text-align: center;
}
.text-29 {
  margin: 8px 0 0;
  color: #ffffff;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 270px) {
.projects {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.awareds {
  margin: 25px auto 0;
  position: relative;
  width: 100%; /* 270px / 270px = 100% */
}
.circle-holder-4 {
  margin: 0 auto;
  min-height: 130px;
  padding: 4.4rem 0;
  position: relative;
  width: 130px;
  border: 2px solid rgba(255, 255, 255, 0.4); /*stroke*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cup {
  display: block;
  margin: 0 auto;
  width: 40px;
}
@media (max-width: 130px) {
.circle-holder-4 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-30 {
  margin: 4.4rem 0 0;
  color: #ffffff;
  font-size: 6rem; /* 60px / 10px = 6rem */
  font-weight: 600;
  text-align: center;
}
.text-31 {
  margin: 8px 0 0;
  color: #ffffff;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 270px) {
.awareds {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.container-7 {
  position: relative;
}
.let-s-discuss {
  position: relative;
}
.col-data-wrapper-6 {
  margin: 9.7rem auto 0;
  position: relative;
}
.section-contact-header {
  margin: 0 auto;
  position: relative;
}
.text-32 {
  color: #0eb493;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  font-weight: 800;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}
.row-12-2 {
  margin: 21px auto 0;
  position: relative;
  width: 21.401869%; /* 229px / 1070px = 21.401869% */
}
.shape-3-5 {
  float: left;
  height: 1px;
  margin: 7px 0 0;
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(6, 32, 51, 0.1);
}
.heart-empty-copy-5 {
  float: left;
  margin: 0 0 0 6.113537%; /* 14px / 229px = 6.113537% */
  width: 18px;
}
.shape-3-copy-5 {
  float: left;
  height: 1px;
  margin: 7px 0 0 7.423581%; /* 17px / 229px = 7.423581% */
  max-width: 90px;
  width: 39.30131%; /* 90px / 229px = 39.30131% */
  background: rgba(6, 32, 51, 0.1);
}
@media (max-width: 229px) {
.row-12-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-33 {
  margin: 3.4rem 0 0;
  opacity: 0.8;
  font-size: 1.8rem; /* 18px / 10px = 1.8rem */
  font-weight: 600;
  text-align: center;
}
.container-8 {
  position: relative;
}
.say-hello {
  margin: 8.1rem 0 0;
  padding: 0 0 8.1rem;
  position: relative;
  background: url(images/map.jpg) no-repeat center bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-data-wrapper-7 {
  margin: 0 auto;
  padding: 0 1.25%; /* 15px / 1200px = 1.25% */
  position: relative;
}
.text-34 {
  margin: 0 auto 29px;
  color: #6a737b;
}
@media (max-width: 768px) {
.text-34 {
  margin-bottom: 20px;
}
}
.col-6 {
  margin: 0 auto;
  position: relative;
}
.row-22 {
  position: relative;
  width: 97.586205%; /* 849px / 870px = 97.586205% */
}
.col-8 {
  float: left;
  position: relative;
  width: 90.57715%; /* 769px / 849px = 90.57715% */
}
.text-35 {
  font-size: 2.4rem; /* 24px / 10px = 2.4rem */
  font-weight: bold;
}
.name {
  margin: 4.9rem auto 0;
  opacity: 0.5;
  color: #5b646e;
}
.email {
  margin: 4.8rem auto 0;
  opacity: 0.5;
  color: #5b646e;
}
.shape-4 {
  height: 1px;
  margin: 21px auto 0;
  width: 100%; /* 370px / 370px = 100% */
  background: rgba(0, 0, 0, 0.2);
}
.shape-4-copy {
  height: 1px;
  margin: 21px auto 0;
  width: 100%; /* 370px / 370px = 100% */
  background: rgba(0, 0, 0, 0.2);
}
.message {
  margin: 4.5rem 0 0;
  opacity: 0.5;
  color: #5b646e;
}
.shape-4-copy-2 {
  height: 1px;
  margin: 19px 0 0;
  max-width: 769px;
  position: relative;
  width: 100%; /* 769px / 769px = 100% */
  background: rgba(0, 0, 0, 0.2);
}
.social-3 {
  float: right;
  margin: 18px 0 0;
  position: relative;
  width: 3.062426%; /* 26px / 849px = 3.062426% */
}
.behance {
  display: block;
  margin: 0 auto;
  width: 26px;
}
.twitter-3 {
  display: block;
  margin: 25px auto 0;
  width: 25px;
}
.dribbble-2 {
  display: block;
  margin: 20px auto 0;
  width: 26px;
}
.forrst {
  display: block;
  margin: 18px auto 0;
  width: 22px;
}
.google-plus {
  display: block;
  margin: 20px auto 0;
  width: 26px;
}
@media (max-width: 849px) {
.row-22 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.row-21-2 {
  margin: 9px 0 0 73.10345%; /* 636px / 870px = 73.10345% */
  position: relative;
  width: 24.48276%; /* 213px / 870px = 24.48276% */
}
.envelope {
  float: left;
  margin: 2px 5.633803% 0 0; /* 12px / 213px = 5.633803% */
  max-width: 23px;
  width: 10.798122%; /* 23px / 213px = 10.798122% */
}
.text-36 {
  float: left;
  width: 54.460094%; /* 116px / 213px = 54.460094% */
  color: #000000;
  font-size: 1.6rem; /* 16px / 10px = 1.6rem */
}
@media (max-width: 213px) {
.row-21-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
@media (max-width: 768px) {
.col-6 {
  margin-bottom: 20px;
}
}
.pin-1 {
  display: block;
  margin: 20.6rem 0 0 22.478632%; /* 263px / 1170px = 22.478632% */
  position: relative;
  width: 26px;
}
.container-9 {
  position: relative;
}
.footer {
  position: relative;
  z-index: 0;
}
.rectangle-2-copy-2 {
  height: 5px;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  z-index: 242;
  background: #062033;
}
.rectangle-9-holder {
  margin: -1px 0 0;
  position: relative;
  z-index: 240;
  background: #062033;
  background-position: center center;
}
.row-14-2 {
  padding: 7rem 0 12.5rem;
  position: relative;
  background: rgba(33, 182, 151, 0.9);
  background-position: center center;
}
.col-5 {
  margin: 30px auto 0;
  position: relative;
}
.brandi-footer-logo {
  color: #ffffff;
  font-family: Pacifico, handwriting;
  font-size: 2.8rem; /* 28px / 10px = 2.8rem */
  letter-spacing: 0.05em;
}
.text-41 {
  margin: 3.7rem 0 0;
  color: #ffffff;
  line-height: 24px;
}
.subscribe {
  margin: 4.4rem auto 0;
  position: relative;
}
.subscribe-2 {
  opacity: 0.8;
  color: #ffffff;
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: bold;
}
.group-1 {
  margin: 4.5rem 0 0;
  min-height: 46px;
  padding: 15px 6.642066% 14px; /* 18px / 271px = 6.642066% */
  position: relative;
  width: 100%; /* 271px / 271px = 100% */
  border: 2px solid #ffffff; /*stroke*/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.shape-5 {
  display: block;
  left: 45.31915%;
  margin: 0 auto;
  position: relative;
  width: 18px;
}
@media (max-width: 768px) {
.shape-5 {
  left: 0;
}
}
@media (max-width: 271px) {
.group-1 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.text-37 {
  margin: 17px 0 0;
  color: #ffffff;
  line-height: 24px;
}
.explore {
  margin: 4.4rem auto 0;
  position: relative;
}
.explore-2 {
  margin: 0 0 0 0.434783%; /* 1px / 230px = 0.434783% */
  opacity: 0.8;
  color: #ffffff;
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: bold;
}
.row-17-2 {
  margin: 3.2rem 0 0;
  position: relative;
  width: 100%; /* 230px / 230px = 100% */
}
.text-38 {
  float: left;
  margin: 1px 0 0;
  width: 48.260868%; /* 111px / 230px = 48.260868% */
  color: #ffffff;
  line-height: 32px;
}
.text-39 {
  float: right;
  width: 35.217392%; /* 81px / 230px = 35.217392% */
  color: #ffffff;
  line-height: 32px;
}
@media (max-width: 230px) {
.row-17-2 {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
.created {
  margin: 9.4rem auto 0;
  position: relative;
  text-align: center;
}
.shape-6 {
  height: 39px;
  margin: 5px 4.074074% 0 0; /* 11px / 270px = 4.074074% */
  max-width: 1px;
  width: 0.37037%; /* 1px / 270px = 0.37037% */
  background: rgba(6, 32, 51, 0.3);
}
.wrapper-4 {
  min-height: 122px;
  position: relative;
}
.heart-empty-copy-2-2 {
  left: 50%;
  max-width: 18px;
  position: absolute;
  top: 5px;
  width: 18px;
  margin-left: -42px;
}
.text-40 {
  left: 50%;
  max-width: 258px;
  position: absolute;
  top: 0;
  width: 100%; /* 258px / 258px = 100% */
  color: #ffffff;
  line-height: 24px;
  margin-left: -129px;
}
@media (max-width: 768px) {
.wrapper-4 {
  min-height: unset;
}
.wrapper-4 > * {
  display: block;
  margin: 15px auto;
  position: relative;
  width: 100%;
  min-width: unset;
  max-height: unset;
  min-height: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
}
}
.created > * {
  display: inline-block;
  vertical-align: top;
}
.container-10 {
  position: relative;
}
.text-style {
  color: #32b0ee;
  font-size: 1.6rem; /* 16px / 10px = 1.6rem */
}
.text-style-2 {
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: normal;
}
.text-style-5 {
  line-height: 24px;
}
.text-style-3 {
  font-weight: bold;
  line-height: 24px;
}
.color062033 {
  color: #062033;
}
.text-style-4 {
  line-height: 32px;
}
.fw700 {
  font-weight: bold;
}
.text-style-6 {
  color: #062033;
  font-size: 2.2rem; /* 22px / 10px = 2.2rem */
  line-height: 32px;
}
.color0feb9e {
  color: #0feb9e;
}
@media screen and (max-width: 768px) {
  body.menu-lock {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  }
  .navbar-toggle {
  position: fixed;
  right: 5px;
  top: 5px;
  background: #dddddd;
  z-index: 101;
  margin: auto;
  }
  .navbar-collapse {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background: black;
  z-index: 100;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -overflow-scrolling: touch;
  }
  .navbar-collapse li p,
  .navbar-collapse li a {
  font-size: 20px;
  padding: 20px 0px;
  }
}
@media (max-width: 768px) {
.col-data-wrapper-2 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.social {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.group-2 {
  margin: 6.4% auto 0;
}
}
@media (max-width: 768px) {
.group-3 {
  margin: 6.4% auto 0;
}
}
@media (max-width: 768px) {
.group-4 {
  margin: 6.4% auto 0;
}
}
@media (max-width: 768px) {
.features-dots {
  margin: 8% auto 0;
}
}
@media (max-width: 768px) {
.col-data-wrapper-4 {
  margin: 9.6% auto 0;
}
}
@media (max-width: 768px) {
.web {
  margin: 5.7% auto 0;
}
}
@media (max-width: 768px) {
.col-data-wrapper-9 {
  margin: 5.7% auto 0;
}
}
@media (max-width: 768px) {
.team {
  margin: 9.8% auto 0;
}
}
@media (max-width: 768px) {
.group-5 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.social-2 {
  margin: 6.3% auto 0;
}
}
@media (max-width: 768px) {
.group-6 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.group-7 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.group-8 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.team-slider-dots {
  margin: 8.7% auto 0;
}
}
@media (max-width: 768px) {
.funfacts {
  margin: 10% 0 0;
}
}
@media (max-width: 768px) {
.col-data-wrapper-6 {
  margin: 9.7% auto 0;
}
}
@media (max-width: 768px) {
.say-hello {
  margin: 8.1% 0 0;
}
}
@media (max-width: 768px) {
.pin-1 {
  margin: 10% 0 0; /* 263px / 1170px = 22.478632% */
}
}
@media (max-width: 768px) {
.created {
  margin: 9.4% auto 0;
}
}
@media (max-width: 768px) {
.features {
  padding: 6.2% 5% 5.4%; /* 38.4px / 768px = 5% */
}
}
@media (max-width: 768px) {
.work_hover {
  padding: 9.4% 3.90625% 9.3%; /* 30px / 768px = 3.90625% */
}
}
@media (max-width: 768px) {
.col-3 {
  padding: 8.5% 5% 15.5%; /* 38.4px / 768px = 5% */
}
}
@media (max-width: 768px) {
.row-14-2 {
  padding: 7% 5% 12.5%; /* 38.4px / 768px = 5% */
}
}
